<% is_index ||= false %>

<% if notice.present? %>
  <div class="notification is-link is-light">
    <button class="delete"></button>
    <span id="notice"><%= notice %></span>
  </div>
<% end %>

<nav class="navbar is-light mb-3" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="<%= series_path %>">
      <h1 class="title is-2 ml-1">Series</h1>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
      <span aria-hidden="true"></span>
  </div>

  <div class="navbar-menu">
    <% if is_index %>
      <div class="navbar-start">
        <div class="navbar-item">
          <%= search_form_for @q do |f| %>
            <div class="select is-link">
              <%= f.select :name_start, ApplicationPresenter.get_letter %>
            </div>

            <div class="select is-link">
              <%= f.select :state_id_eq, ApplicationPresenter.get_all_serie_states("All States") %>
            </div>

            <div class="select is-link">
              <%= f.select :serie_type_id_eq, ApplicationPresenter.get_all_serie_types("All Types") %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</nav>
