<div class="container is-fluid">
  <%= render 'components/navbar', notice: notice, is_index: true %>

  <div class="columns is-multiline" id="series_container">
    <% @series.each do |serie| %>
      <div class="column is-one-fifth">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title"><%= serie.name %></p>
          </header>
          <div class="card-image">
            <img src=<%= serie.cover_page %> style="width: 100%; height: 350px;">
          </div>
          <footer class="card-footer">
            <span class="card-footer-item"><%= link_to 'Show', serie %></span>
            <span class="card-footer-item"><%= link_to 'Edit', edit_serie_path(serie) %></span>
            <span class="card-footer-item"><%= link_to 'Destroy', serie, method: :delete, data: { confirm: 'Are you sure?' } %></span>
          </footer>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Serie', new_serie_path %>
<%= javascript_pack_tag 'index.js' %>