<p id="notice"><%= notice %></p>
<h1>Series</h1>
<%= link_to 'New Serie', new_serie_path %>
<div class="grid">
  <% @series.reverse.each do |serie| %>
    <div class="card">
      <a href="<%= serie_path(serie)%>" class="card__btn_show">
        <img src=<%= serie.cover_page %> class="card__cover_page"/>
        <h3 class="card__title"><%= serie.name %></h3> 
      </a>
      <div class="card__buttons">
        <%= link_to '', 
                    serie, 
                    method: :delete, data: { confirm: 'Are you sure?' }, 
                    class: "card__btn card__btn-delete fas fa-times" %>
        <%= link_to '', edit_serie_path(serie), 
                    class: "card__btn card__btn-edit fas fa-pencil-alt" %>
      </div>
    </div>
  <% end %>
</div>
<br>